$Primary:#000000;
$Secondary:#FFFFFF;
$HightLight:#00FFA3;
$PrimaryGradient:linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);

$h1:128px;
$h2:40px;
$fz-xl:32px;
$fz-l:24px;
$fz-m:20px;
$fz-d:16px;